@model IEnumerable<ContentManagement.ViewModels.ContentVideoViewModel>

<div id="content-video-container" class="row justify-content-center my-5">
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">

        <div>

            <ul id="content-video-items" class="list-unstyled text-center">

                @foreach (var item in Model)
                {
                    <li class="my-4">
                        <video condition-width="@item.Width" condition-height="@item.Height" condition-controls="@item.EnableControls" condition-autoplay="@item.EnableAutoplay">
                            <source src="/@ContentManagement.Infrastructure.Constants.ContentVideosRootPath/@item.Videoname" type="@item.GetMediaType">
                            @SharedLocalizer["Your browser does not support the video tag"]
                        </video>
                        <container asp-if="!string.IsNullOrEmpty(item.Caption)"><div class="text-muted" style="font-size: 0.75rem;">@item.Caption</div></container>
                    </li>
                }

            </ul>

        </div>

    </div>
</div>
