@using ContentManagement.ViewComponents
@using Microsoft.AspNetCore.Http.Extensions
@using DNTCommon.Web.Core

@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject Rin.Mvc.View.RinHelperService RinHelper

<!--
    By: Kiarash Soleimanzadeh
    https://www.kiarash.pro
-->
<!DOCTYPE html>
<html lang="@RequestService.CurrentLanguage().Language.ToString().ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" />
    @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <cache expires-sliding="@TimeSpan.FromHours(6)">
        <meta name="msvalidate.01" content="@SiteSettings.Value.BingSiteAuthId" />
    </cache>
    @*<meta name="application-name" content="CMS" />
        <meta name="msapplication-config" content="/browserconfig.xml" />*@
    @*<style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/css/abovethefold.css"))</style>*@
    <link asp-if="RequestService.IsRtl()" rel="stylesheet" href="~/fonts/farsifonts.min.css" />
    <link asp-if="RequestService.IsLtr()" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" />
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.5.1/css/OverlayScrollbars.min.css" />*@
    <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    <link asp-if="RequestService.IsRtl()" rel="stylesheet" href="~/css/rtl.min.css" asp-append-version="true" />
    @*<link asp-if="RequestService.IsRtl()" rel="stylesheet" href="~/css/portal.rtl.min.css" asp-append-version="true" />*@
    <link asp-if="RequestService.IsLtr()" rel="stylesheet" href="~/css/ltr.min.css" asp-append-version="true" />
    <link title="فید | Feed" href="/feed/rss/" type="application/rss+xml" rel="alternate" />

    @*<link asp-if="RequestService.IsLtr()" rel="stylesheet" href="~/css/portal.ltr.min.css" asp-append-version="true" />*@
    @*<container asp-if="@(!ViewContext.HttpContext.IsLocal())">
            <script src="https://cdn.logrocket.io/LogRocket.min.js" crossorigin="anonymous"></script>
            <script>window.LogRocket && window.LogRocket.init('hgfalp/ajaums');</script>
        </container>*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <environment include="Development">
        @RinHelper.RenderInViewInspector()
    </environment>

    <environment include="Development">
        <mini-profiler position="RenderPosition.BottomLeft" />
    </environment>

    <seo-link-canonical base="@($"//{Context.Request.Host.Value}/")" value="@WebUtility.UrlDecode(Context.Request.GetDisplayUrl())" />
    <seo-title></seo-title>
    <seo-meta-description />
    <seo-meta-keywords />
    @*<seo-content-language />*@
    <seo-meta-robots-index value="ContentManagement.Services.RobotsIndex.IndexFollow" />

    <noscript>
        <meta http-equiv="refresh" content="0; url=/statics/NoScript.html" />
    </noscript>
</head>
<body>
    @await Component.InvokeAsync(nameof(QuickLinks))

    <div class="pusher">
        @await Component.InvokeAsync(nameof(HeaderLinks))

        @await Component.InvokeAsync(nameof(HeaderLogo))

        @await Component.InvokeAsync(nameof(HeaderNavbar))


        @RenderBody()

        @await Component.InvokeAsync(nameof(Footer))

        <div asp-if="@User.Identity.IsAuthenticated" condition-style-left="@(RequestService.IsRtl() ? "0" : "")" condition-style-right="@(RequestService.IsLtr() ? "0" : "")" style="position: fixed; top: 10.5rem; padding: 2px 5px; background-color: coral; z-index: 999;">
            <a style="color: #fff; text-decoration: none;" target="_blank" href="/manage/" data-tippy-content="ورود به پنل مدیریت" data-tippy-placement="@(RequestService.IsRtl() ? "right" : "left")" data-tippy>
                <i class="fas fa-tachometer-alt"></i>&nbsp;پنل مدیریت
            </a>
        </div>

        <div asp-if="@User.Identity.IsAuthenticated" condition-style-left="@(RequestService.IsRtl() ? "0" : "")" condition-style-right="@(RequestService.IsLtr() ? "0" : "")" style="position: fixed; top: 12.5rem; padding: 2px 5px; background-color: coral; z-index: 999;">
            <a style="color: #fff; text-decoration: none;" href="/login/logout/" data-tippy-content="خروج از سیستم" data-tippy-placement="@(RequestService.IsRtl() ? "right" : "left")" data-tippy>
                <i class="fas fa-sign-out-alt"></i>&nbsp;خروج
            </a>
        </div>

        <span class="d-none" id="js-global-info"
              data-slides-path="/@ContentManagement.Infrastructure.Constants.SlidesRootPath/"
              data-page-image-path="/@ContentManagement.Infrastructure.Constants.PagesRootPath/"
              data-content-image-path="/@ContentManagement.Infrastructure.Constants.ContentsRootPath/"
              data-image-link-path="/@ContentManagement.Infrastructure.Constants.ImageLinksRootPath/"
              data-content-gallery-path="/@ContentManagement.Infrastructure.Constants.ContentGalleriesRootPath/"
              data-fetch-contents-path="/content/fetchcontents/"
              data-contents-path="/content/"
              data-search-path="/search/"
              data-search-autocomplete-path="/search/searchautocomplete/"
              data-search-autocomplete-noresult="@SharedLocalizer["Search AutoComplete NoResult"]"
              data-search-autocomplete-moreresult="@SharedLocalizer["View More Results"]"
              data-error-occurred="@SharedLocalizer["Sorry An Error Occurred"]"
              data-click-zoomin="@SharedLocalizer["Click To ZoomIn"]"
              data-vote-required-msg="@SharedLocalizer["Please Select At Lease One Item"]"
              data-vote-success-msg="@SharedLocalizer["Your Vote Has Been Successfully Sent"]"
              data-vote-pre-submited-msg="@SharedLocalizer["You Have Already Participated In This Vote"]"
              data-ok="@SharedLocalizer["Ok"]"
              data-yes="@SharedLocalizer["Yes"]"
              data-no="@SharedLocalizer["No"]"
              data-vote-expired-msg="@SharedLocalizer["Vote Has Expired"]"
              data-vote-disabled-msg="@SharedLocalizer["Vote Is Disabled"]"></span>

        <script>
        var currentLanguage = '@RequestService.CurrentLanguage().Language',
            currentDirection = '@RequestService.CurrentLanguage().Direction',
            currentSubDomain = '@RequestService.CurrentSubDomain()',
            isRtl = '@RequestService.IsRtl().ToString().ToLowerInvariant()' === 'true',
            isLtr = '@RequestService.IsLtr().ToString().ToLowerInvariant()' === 'true',
            isSubPortal = '@RequestService.IsSubPortal().ToString().ToLowerInvariant()' === 'true';
        </script>

        <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
        <script src="https://unpkg.com/promise-polyfill@7.1.0/dist/promise.min.js"></script>
        <script src="https://unpkg.com/popper.js@1/dist/umd/popper.min.js"></script>
        <script src="https://unpkg.com/tippy.js@4"></script>
        <script defer src="~/js/common.min.js" asp-append-version="true"></script>
        @*<script src="https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.5.1/js/jquery.overlayScrollbars.min.js"></script>*@
        @*<script asp-if="RequestService.IsRtl()" src="~/js/rtl.min.js" asp-append-version="true"></script>*@
        @*<script asp-if="RequestService.IsRtl()" src="~/js/portal.rtl.min.js" asp-append-version="true"></script>*@
        @*<script asp-if="RequestService.IsLtr()" src="~/js/ltr.min.js" asp-append-version="true"></script>*@
        @*<script asp-if="RequestService.IsLtr()" src="~/js/portal.ltr.min.js" asp-append-version="true"></script>*@
        @RenderSection("scripts", required: false)

        <cache expires-sliding="@TimeSpan.FromHours(6)">
            <google-analytics tracking-id="@SiteSettings.Value.GoogleAnalyticsTrackingId" />
        </cache>
    </div>
</body>
</html>

@*<environment names="Development">
        @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/css/site.min.css")
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <environment names="Development">
        @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/site.min.js")
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@
