@using ContentManagement.Common.WebToolkit.HtmlHelpers
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html lang="@CurrentLanguage().Language.ToString().ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<meta name="application-name" content="CMS" />
      <meta name="msapplication-config" content="/browserconfig.xml" />*@
    @*<style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/css/abovethefold.css"))</style>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rtl.min.css" asp-append-version="true" />
    <seo-link-canonical value="" />
    <seo-title></seo-title>
    <seo-meta-description value="aa" />
    <seo-content-language />
    <seo-meta-robots-index />
    <noscript>
        <meta http-equiv="refresh" content="0;url=/statics/NoScript.html" />
    </noscript>
</head>
<body>
    @RenderBody()
    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - ContentManagement</span>
        </div>
    </footer>
    <script src="~/js/common.min.js" asp-append-version="true" async></script>
    @RenderSection("scripts", required: false)
</body>
</html>

@*<environment names="Development">
    @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/css/site.min.css")
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/site.min.js")
</environment>
<environment names="Staging,Production">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>*@
