@using ContentManagement.Common.WebToolkit.HtmlHelpers
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment

<!DOCTYPE html>
<html lang="@CurrentLanguage().Language.ToString().ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*<meta name="application-name" content="CMS" />
      <meta name="msapplication-config" content="/browserconfig.xml" />*@
    @*<style>@Html.Raw(System.IO.File.ReadAllText("wwwroot/css/abovethefold.css"))</style>*@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
    <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ltr.min.css" asp-append-version="true" />
    <seo-link-canonical value="" />
    <seo-title></seo-title>
    <seo-meta-description value="aa" />
    <seo-content-language />
    <seo-meta-robots-index />
    <noscript>
        <meta http-equiv="refresh" content="0;url=/statics/NoScript.html" />
    </noscript>
</head>
<body>
    <div class="container">
        <header role="banner">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </header>
        <div class="header-nav d-none d-lg-flex">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link"><i class="fe fe-home"></i> Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link"><i class="fe fe-box"></i> Interface</a>
                                <div class="nav-submenu nav">
                                    <a href="./cards.html" class="nav-item ">Cards design</a>
                                    <a href="./charts.html" class="nav-item ">Charts</a>
                                    <a href="./pricing-cards.html" class="nav-item ">Pricing cards</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link"><i class="fe fe-calendar"></i> Components</a>
                                <div class="nav-submenu nav">
                                    <a href="./maps.html" class="nav-item ">Maps</a>
                                    <a href="./icons.html" class="nav-item ">Icons</a>
                                    <a href="./store.html" class="nav-item ">Store</a>
                                    <a href="./blog.html" class="nav-item ">Blog</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link"><i class="fe fe-file"></i> Pages</a>
                                <div class="nav-submenu nav">
                                    <a href="./profile.html" class="nav-item ">Profile</a>
                                    <a href="./login.html" class="nav-item ">Login</a>
                                    <a href="./register.html" class="nav-item ">Register</a>
                                    <a href="./forgot-password.html" class="nav-item ">Forgot password</a>
                                    <a href="./400.html" class="nav-item ">400 error</a>
                                    <a href="./104.html" class="nav-item ">401 error</a>
                                    <a href="./403.html" class="nav-item ">403 error</a>
                                    <a href="./404.html" class="nav-item ">404 error</a>
                                    <a href="./500.html" class="nav-item ">500 error</a>
                                    <a href="./503.html" class="nav-item ">503 error</a>
                                    <a href="./email.html" class="nav-item ">Email</a>
                                    <a href="./empty.html" class="nav-item ">Empty page</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="./form-elements.html" class="nav-link active"><i class="fe fe-check-square"></i> Forms</a>
                            </li>
                            <li class="nav-item">
                                <a href="./gallery.html" class="nav-link"><i class="fe fe-image"></i> Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a href="./docs/index.html" class="nav-link"><i class="fe fe-file-text"></i> Documentation</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 ml-auto">
                        <form class="input-icon">
                            <input type="search" class="form-control header-search" placeholder="Search…" tabindex="1">
                            <div class="input-icon-addon">
                                <i class="fe fe-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <main class="container">
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - ContentManagement</span>
        </div>
    </footer>
    <script src="~/js/common.min.js" asp-append-version="true" async></script>
    @RenderSection("scripts", required: false)
    <mini-profiler position="RenderPosition.Right" />
</body>
</html>

@*<environment names="Development">
    @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/css/site.min.css")
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</environment>

<environment names="Development">
    @Bundler.Unpack(HostingEnvironment.ContentRootPath, "/js/site.min.js")
</environment>
<environment names="Staging,Production">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>*@
