@model IList<ContentManagement.ViewModels.LinkViewModel>

<div asp-if="Model.Any()" class="container-fluid">
    <div class="row">
        <div class="col" dir="@(RequestService.IsRtl() ? "rtl" : "ltr")">
            <div class="card mt-2 mb-3">
                <div class="card-header">
                    <i class="fas fa-external-link-alt purple-text"></i>&nbsp;@SharedLocalizer["External Links"]
                </div>
                <div class="card-body">

                    @for (int i = 0; i < Model.Count; i += 4)
                    {
                        <div class="row" style="font-size: 0.9rem !important;">
                            <div class="col-6 col-sm-6 col-md-3"><a class="nav-link mb-3 hvr-outline-in" style="padding: 0.3rem 0.8rem !important;" href="@Model.ElementAt(i).Url" condition-class-external="@UrlUtilityService.IsExternal(Model.ElementAt(i).Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(Model.ElementAt(i).Url)" target="@UrlUtilityService.Target(Model.ElementAt(i).Url, Model.ElementAt(i).IsBlankUrlTarget)"><i class="far fa-dot-circle text-black-50"></i>&nbsp;@Model.ElementAt(i).Text</a></div>
                            <div class="col-6 col-sm-6 col-md-3" asp-if="@Model.Count > i + 1"><a class="nav-link mb-3 hvr-outline-in" style="padding: 0.3rem 0.8rem !important;" href="@Model.ElementAt(i + 1).Url" condition-class-external="@UrlUtilityService.IsExternal(Model.ElementAt(i + 1).Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(Model.ElementAt(i + 1).Url)" target="@UrlUtilityService.Target(Model.ElementAt(i + 1).Url, Model.ElementAt(i + 1).IsBlankUrlTarget)"><i class="far fa-dot-circle text-black-50"></i>&nbsp;@Model.ElementAt(i + 1).Text</a></div>
                            <div class="col-6 col-sm-6 col-md-3" asp-if="@Model.Count > i + 2"><a class="nav-link mb-3 hvr-outline-in" style="padding: 0.3rem 0.8rem !important;" href="@Model.ElementAt(i + 2).Url" condition-class-external="@UrlUtilityService.IsExternal(Model.ElementAt(i + 2).Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(Model.ElementAt(i + 2).Url)" target="@UrlUtilityService.Target(Model.ElementAt(i + 2).Url, Model.ElementAt(i).IsBlankUrlTarget)"><i class="far fa-dot-circle text-black-50"></i>&nbsp;@Model.ElementAt(i + 2).Text</a></div>
                            <div class="col-6 col-sm-6 col-md-3" asp-if="@Model.Count > i + 3"><a class="nav-link mb-3 hvr-outline-in" style="padding: 0.3rem 0.8rem !important;" href="@Model.ElementAt(i + 3).Url" condition-class-external="@UrlUtilityService.IsExternal(Model.ElementAt(i + 3).Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(Model.ElementAt(i + 3).Url)" target="@UrlUtilityService.Target(Model.ElementAt(i + 3).Url, Model.ElementAt(i + 3).IsBlankUrlTarget)"><i class="far fa-dot-circle text-black-50"></i>&nbsp;@Model.ElementAt(i + 3).Text</a></div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
