@model ContentManagement.ViewModels.ContentsViewModel

<div class="col-12 content-item mt-2" style="font-size: 0.8rem !important;">
    <img src="@(!string.IsNullOrEmpty(Model.Imagename) ? $"/{ContentManagement.Infrastructure.Constants.ContentsRootPath}/{Model.Imagename}" : "/statics/logo.png")?width=45&height=45&rmode=pad&bgcolor=white" class="img-fluid img-thumbnail mr-1 hoverable" style="max-width: 45px; max-height: 45px;" alt="@Model.Title" data-tippy-content="@Model.Title" asp-append-version="true" data-tippy />
    <a href="@Model.Link" class="nounderline" style="font-size: 0.9rem !important;"><h1 style="font-size: 0.9rem !important; display: inline-block;"><span class="hvr-pop">@Model.Title</span> <i asp-if="Model.IsPinned" title="@SharedLocalizer["Pinned"]" class="fas fa-thumbtack fa-sm grey-text"></i><container asp-if="Model.IsFavorite"> <span class="fas fa-star yellow-text" title="@SharedLocalizer["Favorite Content"]"></span></container> <span class="badge badge-warning" style="font-size: 0.7rem !important;">@Model.TypeOfContent</span><container asp-if="Model.HasGallery">&nbsp;<span class="badge badge-info" title="@SharedLocalizer["Gallery"]" style="font-size: 0.7rem !important;">@SharedLocalizer["Gallery"]</span></container></h1></a>
    <container asp-if="@Model.IsNew"> <span class="badge badge-danger" style="font-size: 0.6rem !important;">@SharedLocalizer["New"]</span></container>
    <div class="float-right text-muted" title="@SharedLocalizer["Publish Date"]">@Model.GetPublishDate</div>
    <div class="mt-2" title="@SharedLocalizer["Summary"]">@Model.GetSummary</div>
</div>
