@model IEnumerable<ContentManagement.Entities.Navbar>

@foreach (var item in Model)
{
    if (item == null)
    {
        continue;
    }

    @:<li>
        <a condition-class-has-arrow="@item.Childrens.Count > 0" href="@(item.Childrens.Count == 0 ? (string.IsNullOrEmpty(item.Url) ? "#" : item.Url) : "#")" condition-rel-nofollow="@UrlUtilityService.IsExternal(item.Url)" target="@UrlUtilityService.Target(item.Url, item.IsBlankUrlTarget)" condition-class-external="@UrlUtilityService.IsExternal(item.Url)" aria-expanded="false"><span asp-if="@(!string.IsNullOrEmpty(item.Icon))" class="@item.Icon"></span> @item.Text&nbsp;&nbsp;</a>
         @if (item.Childrens.Count > 0)
         {
            <ul aria-expanded="false" class="collapse">
                <partial name="_NavbarPartial" model="@item.Childrens" />
            </ul>
         }
    @:</li>
}
