@model IEnumerable<ContentManagement.Entities.Navbar>
@{ 
    var hasQuickLink = ViewBag.NavbarHasQuickLinks != null && (bool)ViewBag.NavbarHasQuickLinks;
}

<container asp-if="Model.Any() || hasQuickLink">
    <div id="menu-hamberger-container" class="z-index-1000 color-bg1 mb-3">
        <div class="container-fluid z-index-1000" style="display: none;" id="menu-hamburger">
            <div class="row">
                <div class="col">
                    <div id="menu-hamburger-content" class="clearfix">
                        <a id="menu-hamburger-expand" asp-if="Model.Any()" class="nounderline float-left" style="color: rgb(198, 193, 193);" href="#" onclick="return false;">
                            <i class="fas fa-bars"></i>&nbsp;@SharedLocalizer["Menu"]
                        </a>
                        <a id="quick-links-expand" asp-if="hasQuickLink" class="nounderline float-right" style="color: rgb(198, 193, 193);" href="#" onclick="return false;">
                            @SharedLocalizer["Quick Links"]&nbsp;<i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid z-index-1000" asp-if="Model.Any()" id="header-navbar-container">
            @*<div class="container">*@
            <div class="row align-items-center">
                <div class="col">
                    <nav class="topbar-nav is-hoverable" dir="@(RequestService.IsRtl() ? "rtl" : "ltr")">
                        <ul class="metismenu" id="header-navbar">
                            <partial name="_NavbarPartial" model="@Model" />
                        </ul>
                    </nav>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>

    <div id="quickLinksSidebarSwitch" asp-if="hasQuickLink" data-tippy-content="@SharedLocalizer["Quick Links"]" data-tippy-placement="@(RequestService.IsRtl() ? "right" : "left")" data-tippy>
        <a style="color: #fff; text-decoration: none; font-size: 1.5rem;" href="#" onclick="return false;">
            <i class="fas fa-bars"></i>
        </a>
    </div>
</container>
