@using ContentManagement.ViewComponents
@model ContentManagement.ViewModels.LatestNewsOrEventsOrFavoritesViewModel

<container asp-if="Model.AnyNewsAndEventAndFavoriteAndAnnouncement">
    <div class="container">
        <div class="row equal no-gutters mt-2 mb-3">
            <container asp-if="Model.AnyNewsAndEventAndFavorite">
                <div class="@(Model.JustNewsAndEventAndFavorite ? "col-12" : "col-12 col-sm-12 col-md-8 pr-sm-0 pr-md-3 mb-4 mb-md-0")">
                    <div class="card h-100">
                        <div class="card-body">
                            <div id="newsandfavorite-tab" class="tabs-x tabs-above tab-bordered tabs-krajee tab-height-lg">

                                <ul id="newsandfavorite-tabs-above" class="nav nav-tabs" role="tablist">
                                    <li asp-if="Model.IsExistNews" class="nav-item">
                                        <a class="nav-link" id="news-tab-tabs-above" condition-class-active="Model.IsExistNews" href="#news-tabs-above" role="tab" data-toggle="tab" data-url="/content/fetchnews/?t=news" aria-controls="news">
                                            <i class="far fa-newspaper lime-text"></i> @SharedLocalizer["News"]
                                        </a>
                                    </li>
                                    <li asp-if="Model.IsExistEvent" class="nav-item">
                                        <a class="nav-link" id="event-tab-tabs-above" condition-class-active="Model.IsExistFavorite && !Model.IsExistNews" href="#event-tabs-above" role="tab" data-toggle="tab" data-url="/content/fetchnews/?t=upcomingevent" aria-controls="event">
                                            <i class="far fa-calendar-alt lime-text"></i> @SharedLocalizer["Upcoming Events"]
                                        </a>
                                    </li>
                                    <li asp-if="Model.IsExistFavorite" class="nav-item">
                                        <a class="nav-link" id="favorite-tab-tabs-above" condition-class-active="Model.IsExistFavorite && !Model.IsExistEvent && !Model.IsExistNews" href="#favorite-tabs-above" role="tab" data-toggle="tab" data-url="/content/fetchnews/?favorite=true" aria-controls="favorite">
                                            <i class="fas fa-star yellow-text"></i> @SharedLocalizer["Favorite Contents"]
                                        </a>
                                    </li>
                                </ul>

                                <div id="newsTabContent-tabs-above" class="tab-content">
                                    <div asp-if="Model.IsExistNews" class="tab-pane fade" condition-class-show="Model.IsExistNews" condition-class-active="Model.IsExistNews" id="news-tabs-above" role="tabpanel" aria-labelledby="news-tab-tabs-above">
                                        <partial asp-if="Model.IsExistNews" model="Model.NewsOrEventsOrFavoritesViewModel" view-data="@ViewData" name="../../../Content/_News.cshtml" />
                                    </div>
                                    <div asp-if="Model.IsExistEvent" class="tab-pane fade" condition-class-show="Model.IsExistEvent && !Model.IsExistNews" condition-class-active="Model.IsExistEvent && !Model.IsExistNews" id="event-tabs-above" role="tabpanel" aria-labelledby="event-tab-tabs-above">
                                        <partial asp-if="Model.IsExistEvent && !Model.IsExistNews" model="Model.NewsOrEventsOrFavoritesViewModel" view-data="@ViewData" name="../../../Content/_News.cshtml" />
                                    </div>
                                    <div asp-if="Model.IsExistFavorite" class="tab-pane fade" condition-class-show="Model.IsExistFavorite && !Model.IsExistEvent && !Model.IsExistNews" condition-class-active="Model.IsExistFavorite && !Model.IsExistEvent && !Model.IsExistNews" id="favorite-tabs-above" role="tabpanel" aria-labelledby="favorite-tabs-above">
                                        <partial asp-if="Model.IsExistFavorite && !Model.IsExistEvent && !Model.IsExistNews" model="Model.NewsOrEventsOrFavoritesViewModel" view-data="@ViewData" name="../../../Content/_News.cshtml" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </container>
            <container asp-if="Model.IsExistAnnouncement">
                <div class="@(Model.JustAnnouncement ? "col-12" : "col-12 col-sm-12 col-md-4")">
                    <div class="card h-100">
                        <div class="card-header">
                            <i class="fas fa-bullhorn deep-orange-text"></i> @SharedLocalizer["Announcements"]
                        </div>
                        <div class="card-body" style="height: 400px !important; overflow: auto;">
                            @await Component.InvokeAsync(nameof(LatestAnnouncements))
                        </div>
                    </div>
                </div>
            </container>
        </div>
    </div>
</container>
