@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@using System.Security.Claims

<!DOCTYPE html>
<html lang="@CurrentLanguage().Language.ToString().ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="~/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/fonts/farsifonts.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rtl.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/manage.min.css" asp-append-version="true" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <title>@ViewData["Title"]</title>
    <noscript>
        <meta http-equiv="refresh" content="0;url=/statics/NoScript.html" />
    </noscript>
</head>
<body class="fixed-nav sticky-footer bg-dark">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/manage/">پنل مدیریت</a>
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            @await Component.InvokeAsync(nameof(DashboardSideNavbar))

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <div class="dropdown open">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @User.Claims.FirstOrDefault(c => c.Type == "DisplayName")?.Value
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/manage/changepassword/">تغییر کلمه عبور</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/login/logout/">خروج</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>

        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>تمام حقوق مادی و معنوی این سیستم متعلق به دانشگاه علوم پزشکی ارتش می باشد.</small>
                </div>
            </div>
        </footer>

        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>

    @* Sweetalert container *@
    <div id="rtl-container" dir="rtl"></div>

    <span class="d-none" id="js-global-info"
          data-slides-path="/@ContentManagement.Infrastructure.Constants.SlidesRootPath/"
          data-ratings-path="/ratings/saveratings"
          data-pdf-export-path="/topdf"
          data-redactor-path="/Content/redactor"
          data-file-upload-path=""></span>

    <script src="~/js/common.min.js" asp-append-version="true"></script>
    <script src="~/js/manage.min.js" asp-append-version="true" async></script>
    <!-- Optional: include a polyfill for ES6 Promises for IE11 and Android browser -->
    <script src="https://unpkg.com/promise-polyfill@7.1.0/dist/promise.min.js"></script>
    <script src="https://unpkg.com/tippy.js/dist/tippy.all.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>