@model ContentManagement.ViewModels.ContentViewModel

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <breadcrumb asp-homepage-title="@SharedLocalizer["Home"].Value"
                            asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                            asp-homepage-glyphicon="fas fa-home"></breadcrumb>
            </nav>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="section-to-print" class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="content-title d-inline-block mb-0"><i class="far fa-newspaper"></i> <a class="nounderline" href="@UrlUtilityService.GenerateUrl(RequestService.PortalKey(), Model.Id, Model.Title, Url, scheme: Context.Request.Scheme)">@Model.Title</a></h1><container asp-if="Model.IsFavorite">&nbsp;<span class="fas fa-star fa-lg yellow-text" title="@SharedLocalizer["Favorite Content"]"></span></container>
                </div>
                <div class="card-body">
                    <div class="clearfix d-print-none"><div class="float-right"><a class="pr-2" id="qrcode-button" onclick="return false;" data-url="@UrlUtilityService.GenerateUrl(RequestService.PortalKey(), Model.Id, null, Url, scheme: Context.Request.Scheme, forceAbsoluteUrl: true)" href="#" title="@SharedLocalizer["QR Code"]" data-tippy><i class="fas fa-qrcode"></i></a><a href="#" id="print-button" onclick="return false;" title="@SharedLocalizer["Print"]" data-tippy><i class="fas fa-print"></i></a></div></div>
                    @*<container asp-if="Model.HasSummary || Model.HasImage">
            <div class="row mb-3">
                <container asp-if="Model.HasSummary">
                    <div class="col-12 col-sm-12" condition-class-col-md-8="Model.HasImage">
                        <div class="jumbotron">
                            @Model.Summary
                        </div>
                    </div>
                </container>
                <container asp-if="Model.HasImage">
                    <div class="col-12 col-sm-12 h-100 text-center" condition-class-col-md-4="Model.HasSummary">
                        <img src="/@(ContentManagement.Infrastructure.Constants.ContentsRootPath)/@Model.Imagename" alt="@Model.Title" class="img-fluid img-thumbnail z-depth-1" />
                    </div>
                </container>
            </div>
        </container>*@
                    <container asp-if="Model.HasSummary">
                        <div class="row">
                            <div class="col-12">
                                <div class="jumbotron py-5 w-100 content-summary">
                                    <p class="mb-0">
                                        @Html.Raw(Model.Summary.Replace(System.Environment.NewLine, "<br />"))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </container>

                    <container asp-if="Model.HasImage">
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <img src="/content/getimage/?name=@Model.Imagename" alt="@Model.Title" title="@Model.Title" class="img-fluid img-thumbnail z-depth-1" />
                            </div>
                        </div>
                    </container>

                    <container asp-if="Model.HasGallery && Model.GalleryPosition == ContentGalleryPosition.TopOfContent">
                        @await Component.InvokeAsync(nameof(ContentManagement.ViewComponents.ContentGallery))
                    </container>

                    <div id="content-detail" style="overflow-x: auto;">@Html.Raw(Model.Text)</div>

                    <container asp-if="Model.HasGallery && Model.GalleryPosition == ContentGalleryPosition.BottomOfContent">
                        @await Component.InvokeAsync(nameof(ContentManagement.ViewComponents.ContentGallery))
                    </container>
                </div>
                <div class="card-footer" style="font-size: 0.9rem !important;">
                    <span class="mr-2"><i class="far fa-clock fa-lg light-green-text"></i> @SharedLocalizer["Publish At"]: @Model.GetPublishDate <container asp-if="Model.IsNew"><span class="badge badge-pill badge-danger">@SharedLocalizer["New"]</span></container></span>
                    <span class="mr-2"><i class="fas fa-eye fa-lg light-blue-text"></i> @SharedLocalizer["View"]: @Model.GetViewCount</span>
                    <span class="mr-2"><i class="fas fa-tag fa-lg amber-text"></i> @SharedLocalizer["Content Type"]: @Model.TypeOfContent</span>
                    <span asp-if="Model.HasGallery" condition-class-mr-2="Model.HasGallery"><i class="fas fa-camera fa-lg cyan-text"></i> @SharedLocalizer["Gallery"]</span>
                    <span><i class="fas fa-barcode fa-lg pink-text"></i> @SharedLocalizer["Content Code"]: @Model.GetId</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="swal-container" dir="@(RequestService.IsRtl() ? "rtl" : "ltr")"></div>
