@model IList<ContentManagement.ViewModels.LinkViewModel>

<div id="header-links" asp-if="Model.Any()" class="container-fluid color-bg2" style="border-bottom: 1px solid rgba(203, 0, 255, 0.4);">
    @*<div class="container">*@
        <div class="row" style="font-size: 0.9rem !important;">
            <div class="col">
                <ul class="mt-2 mb-2 header-links">
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="@(item.Url ?? "#")" target="@UrlUtilityService.Target(item.Url, item.IsBlankUrlTarget)" class="nounderline color-text1" condition-class-external="@UrlUtilityService.IsExternal(item.Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(item.Url)" title="@item.Text" data-tippy>
                                <i asp-if="@(!string.IsNullOrEmpty(item.Icon))" condition-style-color="@item.IconColor" class="@item.Icon"></i> @item.Text
                            </a>
                            @*<span asp-if="@Model.Last() != item">|</span>*@
                        </li>
                    }
                </ul>
            </div>
        </div>
    @*</div>*@
</div>
