@using DNTPersianUtils.Core
@model ContentManagement.ViewModels.VoteViewModel

<div id="results" class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="content-title d-inline-block mb-0"><a class="nounderline" href="@UrlUtilityService.GenerateVoteUrl(RequestService.PortalKey(), Model.Id, Url, scheme: Context.Request.Scheme)#results">#</a> @SharedLocalizer["Results"]</h2>
                </div>
                <div class="card-body">
                    @foreach (var item in Model.VoteResults)
                    {
                        <div class="row mb-2">
                            <div class="col-md-4">
                                @(RequestService.CurrentLanguage().Language == ContentManagement.Entities.Language.FA ? Model.VoteItems.Single(x => x.Id == item.VoteItemId).ItemTitle.ToPersianNumbers() : Model.VoteItems.Single(x => x.Id == item.VoteItemId).ItemTitle)
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span>@SharedLocalizer["With"] @(RequestService.CurrentLanguage().Language == ContentManagement.Entities.Language.FA ? item.VoteCount.ToString().ToPersianNumbers() : item.VoteCount.ToString()) @SharedLocalizer["Votes"]</span>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="progress" style="height: 1.1rem;">
                                            @{
                                                var votePercentage = item.GetVotePercentage(Model.TotalVoteCount);
                                            }
                                            <div class="progress-bar bg-@item.GetItemColor(Model.TotalVoteCount)" role="progressbar" style="width: @votePercentage%" aria-valuenow="@votePercentage" aria-valuemin="0" aria-valuemax="100">@(RequestService.CurrentLanguage().Language == ContentManagement.Entities.Language.FA ? item.GetRoundedVotePercentage(votePercentage).ToString().ToPersianNumbers() : item.GetRoundedVotePercentage(votePercentage).ToString()) %</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
