@model ContentManagement.ViewModels.PageViewModel

@{
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            @*<div class="card">
                <div class="card-body">*@
                    <nav aria-label="breadcrumb">
                        <breadcrumb asp-homepage-title="@SharedLocalizer["Home"].Value"
                                    asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                                    asp-homepage-glyphicon="fas fa-home"></breadcrumb>
                    </nav>
                @*</div>
            </div>*@
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="content-title mb-0">@Model.Title</h2>
                </div>
                <div class="card-body">
                    <container asp-if="Model.HasImage">
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <img src="/@(ContentManagement.Infrastructure.Constants.PagesRootPath)/@Model.Imagename" alt="@Model.Title" class="img-fluid img-thumbnail z-depth-1" />
                            </div>
                        </div>
                    </container>
                    <div id="page-detail">@Html.Raw(Model.Text)</div>
                </div>
                @*<div class="card-footer">
                    <span class="mr-3"><i class="far fa-clock"></i> @SharedLocalizer["Publish At"]: @Model.GetPublishDate</span>
                    <span><i class="fas fa-eye"></i> @SharedLocalizer["View"]: @Model.GetViewCount</span>
                </div>*@
            </div>
        </div>
    </div>
</div>
