@model ContentManagement.ViewModels.PageViewModel

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <breadcrumb asp-homepage-title="@SharedLocalizer["Home"].Value"
                            asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                            asp-homepage-glyphicon="fas fa-home"></breadcrumb>
            </nav>
        </div>
    </div>
</div>

<div id="section-to-print" class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="content-title mb-0"><i class="far fa-file-alt"></i> <a class="nounderline" href="@UrlUtilityService.GeneratePageUrl(RequestService.PortalKey(), Model.Slug, Url, scheme: Context.Request.Scheme)">@Model.Title</a></h1>
                </div>
                <div class="card-body">
                    <div class="clearfix d-print-none"><div class="float-right"><a class="pr-2" id="qrcode-button" onclick="return false;" data-url="@UrlUtilityService.GeneratePageUrl(RequestService.PortalKey(), Model.Slug, Url, scheme: Context.Request.Scheme, forceAbsoluteUrl: true)" href="#" data-tippy-content="@SharedLocalizer["QR Code"]" data-tippy><i class="fas fa-qrcode"></i></a><a href="#" id="print-button" onclick="return false;" data-tippy-content="@SharedLocalizer["Print"]" data-tippy><i class="fas fa-print"></i></a></div></div>
                    <container asp-if="Model.HasImage">
                        <div class="row mb-3">
                            <div class="col-12 text-center">
                                <img src="/page/@Model.Slug/getimage/?name=@Model.Imagename" alt="@Model.Title" title="@Model.Title" class="img-fluid img-thumbnail z-depth-1" />
                            </div>
                        </div>
                    </container>
                    <div id="page-detail" style="overflow-x: auto;">@Html.Raw(Model.Text)</div>
                </div>
                @*<div class="card-footer" style="font-size: 0.9rem !important;">
                        <span class="mr-3"><i class="far fa-clock"></i> @SharedLocalizer["Publish At"]: @Model.GetPublishDate</span>
                        <span><i class="fas fa-eye"></i> @SharedLocalizer["View"]: @Model.GetViewCount</span>
                    </div>*@
            </div>
        </div>
    </div>
</div>

<div id="swal-container" dir="@(RequestService.IsRtl() ? "rtl" : "ltr")"></div>
