@model IEnumerable<ContentManagement.ViewModels.SliderViewModel>

<div asp-if="Model.Any()" class="container-fluid">
    <div class="row mb-4">
        <div class="col">

            <div id="header-slider" class="carousel slide z-depth-2" data-ride="carousel">
                <ol class="carousel-indicators">
                    @foreach (var item in Model.Select((slide, index) => new { slide, index }))
                    {
                        <li data-target="#header-slider" data-slide-to="@item.index" condition-class-active="Model.First() == item.slide"></li>
                    }
                </ol>
                <div class="carousel-inner z-depth-1-half rounded" condition-style-max-height="@(ContentManagement.Infrastructure.Constants.SlideHeightSize + "px")">
                    @foreach (var item in Model)
                    {
                        <div class="carousel-item" condition-class-active="Model.First() == item">
                            @if (string.IsNullOrEmpty(item.Url))
                            {
                                <img class="d-block img-fluid w-100" src="/@ContentManagement.Infrastructure.Constants.SlidesRootPath/@item.Filename" asp-append-version="true" title="@item.Title" alt="@item.Title" />
                            }
                            else
                            {
                                <a href="@item.Url" target="@UrlUtilityService.Target(item.Url, item.IsBlankUrlTarget)" condition-rel-nofollow="@UrlUtilityService.IsExternal(item.Url)" condition-class-external="@UrlUtilityService.IsExternal(item.Url)">
                                    <img class="d-block img-fluid w-100" src="/@ContentManagement.Infrastructure.Constants.SlidesRootPath/@item.Filename" asp-append-version="true" title="@item.Title" alt="@item.Title" />
                                </a>
                            }
                            <div asp-if="!string.IsNullOrEmpty(item.Title) || !string.IsNullOrEmpty(item.SubTitle)" class="carousel-caption d-none d-md-block">
                                <h5 asp-if="!string.IsNullOrEmpty(item.Title)">@item.Title</h5>
                                <p asp-if="!string.IsNullOrEmpty(item.SubTitle)">@item.SubTitle</p>
                                <p asp-if="string.IsNullOrEmpty(item.SubTitle)">&nbsp;</p>
                            </div>
                        </div>
                    }
                </div>
                <a condition-class-carousel-control-prev="@RequestService.IsLtr()" condition-class-carousel-control-next="@RequestService.IsRtl()" href="#header-slider" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">@SharedLocalizer["Previous"]</span>
                </a>
                <a condition-class-carousel-control-next="@RequestService.IsLtr()" condition-class-carousel-control-prev="@RequestService.IsRtl()" href="#header-slider" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">@SharedLocalizer["Next"]</span>
                </a>
            </div>

        </div>
    </div>
</div>
