@using System.Collections.Generic
@model IList<ContentManagement.ViewModels.FooterSectionViewModel>

@{
    int colLgCount, colMdCount;
    if (Model.Count == 4)
    {
        colLgCount = 3;
        colMdCount = 6;
    }
    else if (Model.Count == 3)
    {
        colLgCount = 4;
        colMdCount = 6;
    }
    else if (Model.Count == 2)
    {
        colLgCount = 6;
        colMdCount = 6;
    }
    else
    {
        colLgCount = 12;
        colMdCount = 12;
    }


    var lineColors = new Dictionary<int, string> { { 1, "#8b00af" }, { 2, "#d40062" }, { 3, "#ff0613" }, { 4, "#ffc300" } };
    var colNumber = 1;
}

<footer class="fdb-block footer-large fdb-bg-dark mt-3">
    <div class="row align-items-top text-center">
        <div asp-if="Model.Any()" class="col-12 col-md-12 col-lg-12 text-sm-left">
            <div class="row" style="font-size: 0.9rem !important;">
                @foreach (var sec in Model)
                {
                    <div class="col-12 col-sm-12 col-md-@colMdCount col-lg-@colLgCount">
                        <div class="row footer-line-color">
                            <div class="col" style="height: 0.2em; background: @lineColors[colNumber++];"></div>
                        </div>
                        <div class="row">
                            <div class="col">
                                @if (string.IsNullOrEmpty(sec.Url))
                                {
                                    <span class="nav-link text-white font-weight-bold d-inline-block">@sec.Title</span>
                                }
                                else
                                {
                                    <a class="nav-link text-white font-weight-bold d-inline-block" href="@sec.Url" condition-class-external="@UrlUtilityService.IsExternal(sec.Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(sec.Url)" target="@UrlUtilityService.Target(sec.Url, false)">@sec.Title</a>
                                }
                            </div>
                        </div>
                        @foreach (var link in sec.Links)
                        {
                            <div class="row">
                                <div class="col">
                                    <a class="nav-link d-inline-block vazir" style="color: rgba(242, 242, 242, 0.7) !important;" href="@link.Url" condition-class-external="@UrlUtilityService.IsExternal(link.Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(link.Url)" target="@UrlUtilityService.Target(link.Url, link.IsBlankUrlTarget)">@link.Text</a>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-self-center" condition-class-mt-5="@Model.Any()">
        <div class="col-12 col-md-6 pl-4 text-center text-md-left" style="font-size: 0.75rem;">
            @SharedLocalizer["Follow us on social networks"]&nbsp;&nbsp;
            <div class="d-block d-md-inline-block" style="position: relative; top: 0.3rem;">
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Instagram))" href="@SiteSettings.Value.SocialNetworks.Instagram" target="_blank"><i class="fab fa-instagram" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Instagram))">&nbsp;&nbsp;</span>
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Telegram))" href="@SiteSettings.Value.SocialNetworks.Telegram" target="_blank"><i class="fab fa-telegram" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Telegram))">&nbsp;&nbsp;</span>
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Facebook))" href="@SiteSettings.Value.SocialNetworks.Facebook" target="_blank"><i class="fab fa-facebook" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Facebook))">&nbsp;&nbsp;</span>
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Twitter))" href="@SiteSettings.Value.SocialNetworks.Twitter" target="_blank"><i class="fab fa-twitter" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.Twitter))">&nbsp;&nbsp;</span>
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.GooglePlus))" href="@SiteSettings.Value.SocialNetworks.GooglePlus" target="_blank"><i class="fab fa-google-plus" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.GooglePlus))">&nbsp;&nbsp;</span>
                <a asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.YouTube))" href="@SiteSettings.Value.SocialNetworks.YouTube" target="_blank"><i class="fab fa-youtube" style="font-size: 1.4rem !important;" aria-hidden="true"></i></a><span asp-if="@(!string.IsNullOrEmpty(SiteSettings.Value.SocialNetworks.YouTube))">&nbsp;&nbsp;</span>
            </div>
        </div>

        <div class="col-12 col-md-6 pr-4 pt-2 text-center text-md-right" style="font-size: 0.7rem; color: #b7c4d0;">
            @SharedLocalizer["Copyright", RequestService.CurrentLanguage().Language == Language.FA ? SiteSettings.Value.MainPortal.CopyrightFa : SiteSettings.Value.MainPortal.CopyrightEn]
        </div>
    </div>
</footer>
