@model ContentManagement.ViewModels.SearchViewModel

<div class="container">
    <div class="row mt-2">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <breadcrumb asp-homepage-title="@SharedLocalizer["Home"].Value"
                            asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                            asp-homepage-glyphicon="fas fa-home"></breadcrumb>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="content-title mb-0"><i class="fas fa-search"></i> @SharedLocalizer["Search"]<container asp-if="!string.IsNullOrEmpty(Model.Q)">: <em style="font-weight: 500 !important;">@Model.Q</em></container></h2>
                </div>
                <div class="card-body">

                    @foreach (var item in Model.ContentsViewModel)
                    {
                        <partial name="_ContentsList" model="item" />
                    }

                    @if (!Model.ContentsViewModel.Any())
                    {
                        <div class="text-center">@SharedLocalizer["There Is No Information To Display"]</div>
                    }

                    <container asp-if="Model.TotalCount > Model.PageSize">
                        <nav class="mt-4" aria-label="contents navigation">
                            <cs-pager asp-action="Index"
                                      asp-controller="Search"
                                      cs-paging-pagesize="@Model.PageSize"
                                      cs-paging-pagenumber="@Model.Page"
                                      cs-paging-totalitems="@Model.TotalCount"
                                      cs-pagenumber-param="page"
                                      asp-route-q="@Model.Q"
                                      cs-first-page-title="@SharedLocalizer["First Page"].Value"
                                      cs-last-page-title="@SharedLocalizer["Last Page"].Value"
                                      cs-previous-page-title="@SharedLocalizer["Previous Page"].Value"
                                      cs-next-page-title="@SharedLocalizer["Next Page"].Value"
                                      cs-show-first-last="true"
                                      cs-pager-ul-class="pagination pagination-sm justify-content-center"
                                      cs-pager-li-current-class="page-item active"
                                      cs-pager-li-other-class="page-item"
                                      cs-pager-li-non-active-class="page-item disabled"
                                      cs-pager-link-current-class="page-link"
                                      cs-pager-link-other-class="page-link"></cs-pager>
                        </nav>
                    </container>
                </div>
            </div>
        </div>
    </div>
</div>
