@model IList<ContentManagement.ViewModels.LinkViewModel>

<div asp-if="Model.Any()" class="container-fluid">
    <div class="row">
        <div class="col" dir="@(RequestService.IsRtl() ? "rtl" : "ltr")">
            <div class="card hoverable mt-2 mb-3">
                <div class="card-header text-white site-gradient1">
                    @*<span class="badge-promo-content"><i class="fas fa-syringe purple-text"></i>&nbsp;@SharedLocalizer["Essential Links"]</span>*@
                    <i class="fas fa-syringe light-green-text"></i>&nbsp;@SharedLocalizer["Essential Links"]
                </div>
                <div class="card-body">

                    <ul id="essential-links" style="min-width: 100% !important;">
                        @foreach (var item in Model)
                        {
                            <li class="lightslider-link-item" condition-class-mr-1="Model.First() != item">
                                <a href="@(item.Url ?? "#")" class="nonunderline" target="@UrlUtilityService.Target(item.Url, item.IsBlankUrlTarget)" condition-class-external="@UrlUtilityService.IsExternal(item.Url)" condition-rel-nofollow="@UrlUtilityService.IsExternal(item.Url)" title="@item.Text">
                                    <i condition-style-color="@(string.IsNullOrEmpty(item.IconColor) ? "#fff" : item.IconColor)" class="@(string.IsNullOrEmpty(item.Icon) ? "fas fa-link" : item.Icon) color-text-shadow1 p-1" style="font-size: 3rem !important;"></i>
                                    <div style="color: #4d4d4d; font-size: 0.9rem !important;">@item.Text</div>
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
